<mat-card>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img
        src="https://photo-cdn2.icons8.com/tE8XtxE1wIEXVovGvhI8DJtg0_ofMYuBlMsIK3zyWhQ/rs:fit:576:384/Z3M6Ly9tb29zZTIv/YXNzZXRzL3NhdGEv/b3JpZ2luYWwvOTMx/LzE1OGQ0MzRkLWQz/OTItNDllOS1hZGVm/LTkzOGE3YmMxMGZh/MC5qcGc.jpg"
        alt=""
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>Titulo</h2>
        <a>Ver info</a>
        <div>des</div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div>
          <button mat-stroked-button>X</button>
          <button mat-stroked-button>X</button>
          <button mat-raised-button color="primary">X</button>
          <button mat-stroked-button color="primary" class="block-btn">
            VER RECOMPENSAS
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
