<mat-card>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <img *ngIf="vaki" [src]="vaki.photo" alt="" />
    </mat-grid-tile>
    <mat-grid-tile>
      <div *ngIf="!isLoading; else loader" class="info-container">
        <h2>{{ vaki.name }}</h2>
        <a>Ver info</a>
        <div>{{ vaki.description }}</div>
        <br />
        <div>{{ vaki.close_date | date }}</div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <br />
        <div>
          <button mat-stroked-button>X</button>
          <button mat-stroked-button>X</button>
          <button mat-raised-button color="primary">X</button>
          <button mat-stroked-button color="primary" class="block-btn">
            VER RECOMPENSAS
          </button>
        </div>
      </div>
      <ng-template #loader>Cargando...</ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
